@use "bulma/sass";

.condition-list {
    list-style-type: none; /* Remove default bullets */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.condition-item {
    display: inline;
}

.condition-item::after {
    content: " /";
}

.condition-item-last::after {
    content: "";
}

.condition-item-average {
    display: inline;
}

.condition-item-average::before {
    content: "("
}

.condition-item-average::after {
    content: " %)"
}

#loading-indicator.htmx-indicator {
    @extend .is-hidden;
}

#loading-indicator.htmx-request #loading-indicator.htmx-indicator {
    display: flex;
}

#loading-indicator.htmx-request.htmx-indicator {
    display: flex;
}
