@use "bulma/sass/elements/table";

:root {
    --space-black: rgb(22, 23, 81);
    --header-height: var(--bulma-navbar-height);
}

.navbar__navbar-center {
    /*
    How to center a navbar in bulma 0.7.1 but it still works in 1.0
    https://github.com/jgthms/bulma/issues/1604#issuecomment-422407761
     */
    flex-grow: 1;
    justify-content: center;
}

table tr td {
    height: auto;
}

td {
    @extend .is-vcentered
}

.modal-card-head {
    box-shadow: none;
    background: var(--bulma-modal-card-foot-background-color)
}
